<!DOCTYPE html>
<html lang="en">

<!-- head tag -->
<%- include('./partials/head.ejs', {title:"Member Form"}) %>

<body>
  <div class="container-fluid">
    <form class="needs-validation" action="/" method="post" novalidate>
      <!-- form header -->
      <h1 class="text-center">Form Member</h1>
      <div>Keterangan: <span class="text-danger">*</span> Wajib Diisi</div>
      <div class="mb-3">
        <div>Produk eFishery yang Diminati: <span class="text-danger">*</span><span class="text-success">Centang</span></div>
        <div class="form-check">
          <input class="form-check-input produk-checkbox" type="checkbox" id="smartTractor" name="produk" value="Smart Tractor" required>
          <label class="form-check-label" for="smartTractor">
            Smart Tractor
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input produk-checkbox" type="checkbox" id="fertilizerAndFund" name="produk" value="Fertilizer & Fund" required>
          <label class="form-check-label" for="fertilizerAndFund">
            Fertilizer & Fund
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input produk-checkbox" type="checkbox" id="farming" name="produk" value="Crop - Contract Farming" required>
          <label class="form-check-label" for="farming">
            Crop - Contract Farming
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input produk-checkbox" type="checkbox" id="trading" name="produk" value="Crop - Contract Trading" required>
          <label class="form-check-label" for="trading">
            Crop - Contract Trading
          </label>
        </div>
        <input class="form-check-input produk-checkbox" type="checkbox" id="produk-checkbox-validator" required hidden>
        <div class="invalid-feedback produk-checkbox-feedback">
          Centang salah satu.
        </div>
      </div>

      <!-- form body -->
      <div class="text-center py-2 mb-3" style="background-color: lightgreen;">1. Informasi Pribadi</div>
      <div class="mb-3">
        <label for="nama-lengkap" class="form-label">Nama Lengkap <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="nama-lengkap" name="namaLengkap" required>
        <div class="invalid-feedback">
          Nama lengkap harus diisi.
        </div>
      </div>
      <div class="mb-3">
        <label for="nama-panggilan" class="form-label">Nama Panggilan <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="nama-panggilan" name="namaPanggilan" required>
        <div class="invalid-feedback">
          Nama panggilan harus diisi.
        </div>
      </div>
      <div class="mb-3">
        <div>Apakah Seorang Pembudidaya? <span class="text-danger">*</span><span class="text-success">Centang</span></div>
        <div class="form-check form-check-inline">
          <input class="form-check-input pembudidaya-radio" type="radio" name="pembudidaya" id="pembudidayaTrue" value="Ya" required>
          <label class="form-check-label" for="pembudidayaTrue">
            Ya
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input pembudidaya-radio" type="radio" name="pembudidaya" id="pembudidayaFalse" value="Tidak" required>
          <label class="form-check-label" for="pembudidayaFalse">
            Tidak
          </label>
        </div>
        <input class="form-check-input pembudidaya-radio" type="radio" name="pembudidaya" required hidden>
        <div class="invalid-feedback">
          Centang salah satu.
        </div>
      </div>
      <div class="mb-3">
        <div>Komoditas <span class="text-danger">*</span><span class="text-success">Centang</span></div>
        <div class="form-check">
          <input class="form-check-input komoditas-checkbox" type="checkbox" id="singkong" name="komoditas" value="Singkong" required>
          <label class="form-check-label" for="singkong">
            Singkong
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input komoditas-checkbox" type="checkbox" id="tebu" name="komoditas" value="Tebu" required>
          <label class="form-check-label" for="tebu">
            Tebu
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input komoditas-checkbox" type="checkbox" id="kelapa" name="komoditas" value="Kelapa" required>
          <label class="form-check-label" for="kelapa">
            Kelapa
          </label>
        </div>
        <input class="form-check-input komoditas-checkbox" type="checkbox" id="komoditas-checkbox-validator" required hidden>
        <div class="invalid-feedback komoditas-checkbox">
          Centang salah satu.
        </div>
      </div>
      <div class="mb-3">
        <label for="handphone" class="form-label">No. Handphone <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="handphone" name="handphone" required>
        <div class="invalid-feedback">
          No. Handphone harus diisi.
        </div>
      </div>
      <div class="mb-3">
        <div class="form-label">No. Handphone Terdaftar di Whatsapp <span class="text-danger">*</span><span class="text-success">Centang</span></div>
        <div class="form-check form-check-inline">
          <input class="form-check-input handphone-radio" type="radio" name="whatsapp" id="whatsappTrue" value="Ya" required>
          <label class="form-check-label" for="whatsappTrue">
            Ya
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input handphone-radio" type="radio" name="whatsapp" id="whatsappFalse" value="Tidak" required>
          <label class="form-check-label" for="whatsappFalse">
            Tidak
          </label>
        </div>
        <input class="form-check-input" type="radio" name="whatsapp" required hidden>
        <div class="invalid-feedback">
          Centang salah satu.
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Alamat Email</label>
        <input type="text" class="form-control" id="email" name="email" required>
        <div class="invalid-feedback">
          Alamat email harus diisi.
        </div>
      </div>
      <div class="mb-3">
        <label for="alamat" class="form-label">Alamat Rumah/Domisili <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="alamat" name="alamat" required>
        <div class="invalid-feedback">
          Alamat rumah/domisili harus diisi.
        </div>
      </div>
      <div class="mb-3">
        <div class="form-label">Provinsi <span class="text-danger">*</span></div>
        <select class="form-select" id="provinsi" name="provinsi" required>
          <option value="">Select...</option>
          <% provinsi.forEach((provinsi) => { %>
          <option label="<%= provinsi.kode %>" value="<%= provinsi.nama %>"><%= provinsi.nama %></option>
          <% }) %>
        </select>
        <div class="invalid-feedback">Provinsi harus diisi.</div>
      </div>
      <div class="mb-3">
        <div class="form-label">Kota/Kabupaten <span class="text-danger">*</span></div>
        <select class="form-select" disabled id="kota" name="kota" required></select>
        <div class="invalid-feedback">Kota/Kabupaten harus diisi.</div>
      </div>
      <div class="mb-3">
        <div class="form-label">Kecamatan <span class="text-danger">*</span></div>
        <select class="form-select" disabled id="kecamatan" name="kecamatan" required></select>
        <div class="invalid-feedback">Kecamatan harus diisi.</div>
      </div>
      <div class="mb-3">
        <div class="form-label">Kelurahan/Desa <span class="text-danger">*</span></div>
        <select class="form-select" disabled id="kelurahan" name="kelurahan" required></select>
        <div class="invalid-feedback">Kelurahan/Desa harus diisi.</div>
      </div>
      <div class="mb-3">
        <label for="kode-pos" class="form-label">Kode Pos</label>
        <input type="text" class="form-control" id="kode-pos" name="kodePos">
        <div class="invalid-feedback">
          Kode pos harus diisi.
        </div>
      </div>
      <div class="mb-3">
        <label for="koordinat-domisili" class="form-label">Koordinat Alamat Rumah/Domisili (Latitude, Longitude) <span class="text-danger">*</span></label>
        <div class="input-group">
          <input type="text" class="form-control" id="koordinat-domisili" name="koordinatDomisili" required>
          <a class="btn btn-primary" href="http://www.google.com/maps" role="button" target="_blank">Google Maps</a>
          <div class="invalid-feedback">
            Koordinat domisili harus diisi.
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="form-label">Apakah alamat domisili saat ini sama dengan alamat KTP <span class="text-danger">*</span><span class="text-success">Centang</span></div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="domisiliKtp" id="domisili-ktp-true" value="Ya" required>
          <label class="form-check-label" for="domisili-ktp-true">
            Ya
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="domisiliKtp" id="domisili-ktp-false" value="Tidak" required>
          <label class="form-check-label" for="domisili-ktp-false">
            Tidak
          </label>
        </div>
        <input class="form-check-input" type="radio" name="domisiliKtp" required hidden>
        <div class="invalid-feedback">
          Centang salah satu.
        </div>
      </div>
      <div class="mb-3">
        <label for="alamat-ktp" class="form-label">Alamat Sesuai KTP <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="alamat-ktp" name="alamatKtp" required>
        <div class="invalid-feedback">
          Alamat KTP harus diisi.
        </div>
      </div>
      <div class="mb-3">
        <div class="form-label">Provinsi Sesuai KTP <span class="text-danger">*</span></div>
        <select class="form-select" id="provinsi-ktp" name="provinsiKtp" required>
          <option value="">Select...</option>
          <% provinsi.forEach((provinsi) => { %>
          <option label="<%= provinsi.kode %>" value="<%= provinsi.nama %>"><%= provinsi.nama %></option>
          <% }) %>
        </select>
        <div class="invalid-feedback">Provinsi KTP harus diisi.</div>
      </div>
      <div class="mb-3">
        <div class="form-label">Kota/Kabupaten Sesuai KTP <span class="text-danger">*</span></div>
        <select class="form-select" disabled id="kota-ktp" name="kotaKtp" required></select>
        <div class="invalid-feedback">Kota KTP harus diisi.</div>
      </div>
      <div class="mb-3">
        <div class="form-label">Kecamatan Sesuai KTP <span class="text-danger">*</span></div>
        <select class="form-select" disabled id="kecamatan-ktp" name="kecamatanKtp" required></select>
        <div class="invalid-feedback">Kecamatan KTP harus diisi.</div>
      </div>
      <div class="mb-3">
        <div class="form-label">Kelurahan/Desa Sesuai KTP <span class="text-danger">*</span></div>
        <select class="form-select" disabled id="kelurahan-ktp" name="kelurahanKtp" required></select>
        <div class="invalid-feedback">Kelurahan/Desa KTP harus diisi.</div>
      </div>
      <div class="mb-3">
        <label for="kode-pos-ktp" class="form-label">Kode Pos Sesuai KTP</label>
        <input type="text" class="form-control" id="kode-pos-ktp" name="kodePosKtp">
        <div class="invalid-feedback">
          Kode pos KTP harus diisi.
        </div>
      </div>
      <div class="mb-3">
        <div class="form-label">Agama <span class="text-danger">*</span></div>
        <select class="form-select" id="agama" name="agama" required>
          <option value="">Select...</option>
          <option value="Islam">Islam</option>
          <option value="Kristen">Kristen</option>
          <option value="Katolik">Katolik</option>
          <option value="Hindu">Hindu</option>
          <option value="Buddha">Buddha</option>
          <option value="Khonghucu">Khonghucu</option>
        </select>
        <div class="invalid-feedback">
          Agama harus diisi.
        </div>
      </div>
      <div class="mb-3">
        <div class="form-label">Tempat Lahir <span class="text-danger">*</span></div>
        <select class="form-select" id="tempat-lahir" name="tempatLahir" required>
          <option value="">Select...</option>
          <% kota.forEach(kota => { %>
          <option value="<%= kota.nama %>"><%= kota.nama %></option>
          <% }) %>
        </select>
        <div class="invalid-feedback">
          Tempat lahir harus diisi.
        </div>
      </div>
      <div class="mb-3">
        <label for="tgl-lahir" class="form-label">Tanggal Lahir <span class="text-danger">*</span></label>
        <input type="date" class="form-control" id="tgl-lahir" name="tglLahir" required>
        <div class="invalid-feedback">
          Tanggal lahir harus diisi.
        </div>
      </div>
      <div class="mb-3">
        <div class="form-label">Jenis Kelamin <span class="text-danger">*</span><span class="text-success">Centang</span></div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="jenisKelamin" id="jenis-kelamin-laki" value="Laki-laki" required>
          <label class="form-check-label" for="jenis-kelamin-laki">
            Laki-laki
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="jenisKelamin" id="jenis-kelamin-perempuan" value="Perempuan" required>
          <label class="form-check-label" for="jenis-kelamin-perempuan">
            Perempuan
          </label>
        </div>
        <input class="form-check-input" type="radio" name="jenisKelamin" value="" required hidden>
        <div class="invalid-feedback">
          Centang salah satu.
        </div>
      </div>
      <div class="mb-3">
        <div class="form-label">Status Perkawinan <span class="text-danger">*</span><span class="text-success">Centang</span></div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="statusPerkawinan" id="belum-kawin" value="Belum Kawin" required>
          <label class="form-check-label" for="belum-kawin">
            Belum Kawin
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="statusPerkawinan" id="kawin" value="Kawin" required>
          <label class="form-check-label" for="kawin">
            Kawin
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="statusPerkawinan" id="duda-janda" value="Duda/Janda" required>
          <label class="form-check-label" for="duda-janda">
            Duda/Janda
          </label>
        </div>
        <input class="form-check-input" type="radio" name="statusPerkawinan" value="" required hidden>
        <div class="invalid-feedback">
          Centang salah satu.
        </div>
      </div>
      <div class="mb-3">
        <div class="form-label">Pendidikan Terakhir <span class="text-danger">*</span></div>
        <select class="form-select" id="pendidikan" name="pendidikan" required>
          <option value="">Select...</option>
          <option value="SD">SD</option>
          <option value="SMP">SMP</option>
          <option value="SMA">SMA/SMK</option>
          <option value="Diploma">Diploma I/II/III</option>
          <option value="S1">S1/D4</option>
          <option value="S2">S2</option>
          <option value="S3">S3</option>
        </select>
        <div class="invalid-feedback">
          Pendidikan harus diisi.
        </div>
      </div>
      <div class="mb-3">
        <label for="no-ktp" class="form-label">No. KTP <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="no-ktp" name="noKtp" required>
        <div class="invalid-feedback">
          Nomor KTP harus diisi.
        </div>
      </div>
      <div class="mb-3">
        <label for="no-kk" class="form-label">No. Kartu Keluarga</label>
        <input type="text" class="form-control" id="no-kk" name="noKk">
        <div class="invalid-feedback">
          Nomor KK harus diisi.
        </div>
      </div>
      <div class="mb-3">
        <div class="form-label">Memiliki NPWP? <span class="text-danger">*</span><span class="text-success">Centang</span></div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="npwp" id="npwp-true" value="Ya" required>
          <label class="form-check-label" for="npwp-true">
            Ya
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="npwp" id="npwp-false" value="Tidak" required>
          <label class="form-check-label" for="npwp-false">
            Tidak
          </label>
        </div>
        <input class="form-check-input" type="radio" name="npwp" value="" required hidden>
        <div class="invalid-feedback">
          Centang salah satu.
        </div>
      </div>
      <div class="mb-3">
        <div class="form-label">Nama Bank yang Digunakan</div>
        <select class="form-select" id="bank" name="bank">
          <option disabled selected>Select...</option>
          <% bank.forEach(bank => { %>
          <option value="<%= bank.nama %>"><%= bank.nama %></option>
          <% }) %>
        </select>
      </div>
      <div class="mb-3">
        <label for="rekening-bank" class="form-label">Nomor Rekening Bank</label>
        <input type="text" class="form-control" id="rekening-bank" name="rekeningBank">
      </div>
      <div class="d-grid mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <script src="/js/home.js"></script>
</body>

</html>