<div class="d-flex justify-content-end mb-3">
  <a class="btn btn-success btn-sm" href="/create">
    Tambah Baru
  </a>
</div>
<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <td>Nama</td>
        <td>Wilayah</td>
        <td>Produk Dipilih</td>
        <td>Komoditas</td>
        <td>No. Telp</td>
        <td>No. KTP</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <% results.forEach(result => { %>
      <tr>
        <td><%= result.nama_lengkap %></td>
        <td><%= result.kota %></td>
        <td>
          <ul class="list-group">
            <% if (typeof result.produk == 'object') { %>
            <% result.produk.forEach(produk => { %>
            <li class="list-group-item"><%= produk %></li>
            <% }) %>
            <% } else { %>
            <li class="list-group-item"><%= result.produk %></li>
            <% } %>
          </ul>
        </td>
        <td>
          <ul class="list-group">
            <% if (typeof result.komoditas == 'object') { %>
            <% result.komoditas.forEach(komoditas => { %>
            <li class="list-group-item"><%= komoditas %></li>
            <% }) %>
            <% } else { %>
            <li class="list-group-item"><%= result.komoditas %></li>
            <% } %>
          </ul>
        </td>
        <td><%= result.handphone %></td>
        <td><%= result.no_ktp %></td>
        <td><a href="#">Edit/Detail</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>